################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisorFicherosOffline/bin/Debug
/VisorFicherosOffline/obj/Debug
/.vs/VisorFicherosOffline/v14
