################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VisorFicherosOffline/bin/Debug
/VisorFicherosOffline/obj/Debug
/.vs/VisorFicherosOffline/v14
/VisorFicherosOffline/bin/Release
/VisorFicherosOffline/obj/Release
/.vs/VisorFicherosOffline/v15
/.vs/VisorFicherosOffline/v15
